@model  HTC_SHOPVIP.Models.Sanpham


@using HTC_SHOPVIP.Models
@using System.Globalization;

@{
    ViewBag.Title = "ChiTiet";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int id = ViewBag.id;



}





<!-- Breadcrumb Section Begin -->
<h1>@ViewBag.User</h1>

<!-- Breadcrumb Section End -->
<!-- Product Details Section Begin -->
<section class="product-details spad">
    <div class="container ct-sp">
        <div class="row">


            @using (var con = new Model1())
            {
                var spc = (from s in con.Sanphams
                           join anh in con.SP_anh on s.MaSP equals anh.MaSP
                           where anh.Linkanh.Contains("anhchinh") && s.MaSP == id
                           select new
                           {

                               s.MaSP,


                               s.Gia,
                               s.TenSP,
                               s.mota,
                               s.MaNguoiBan,

                               anh.Linkanh,
                           }).FirstOrDefault();
                var nguoiban = (from s in con.NguoiBans
                                where s.MaNguoiBan == spc.MaNguoiBan
                                select s).FirstOrDefault();
                var spp = (from s in con.Sanphams
                           join anh in con.SP_anh on s.MaSP equals anh.MaSP
                           where anh.Linkanh.Contains("anhphu") && s.MaSP == id
                           select new
                           {
                               s.MaSP,

                               s.TenSP,
                               anh.Linkanh,


                           }).ToList();


                var spdgbro = (from s in con.SP_Danhgia
                               where s.MaSP == id
                               select s).ToList();

                <div class="col-lg-6 col-md-6">
                    <div class="product__details__pic">

                        <div class="product__details__pic__item user-anhctsp">
                            <img class="product__details__pic__item--large img-fluid"
                                 src="~/Content/img/sanpham/@spc.Linkanh" alt=""  >
                        </div>
                        <div class="product__details__pic__slider owl-carousel ">

                            @foreach (var it in spp)
                            {
                                <div class="box-chitiet">
                                    <img data-imgbigurl="/Content/img/sanpham/@it.Linkanh"
                                         src="~/Content/img/sanpham/@it.Linkanh" alt="" class="img-fluid">
                                </div>
                            }
                        </div>


                    </div>
                </div>


                <div class="col-lg-6 col-md-6">
                    <div class="product__details__text">
                        <h5 class="tensp">@spc.TenSP</h5>
                        <br />
                        <br />
                        <br />
                        <div class="product__details__rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <span>(@spdgbro.Count() reviews)</span>
                            <br />
                            <br />
                        </div>
                        <div class="product__details__price">   @string.Format(new CultureInfo("vi-VN"), "{0:#,##0}", spc.Gia) đ</div>

                        <br />
                        <br />
                      
                        <a href="~/GioHang/AddtoCart?id=@spc.MaSP" class="primary-btn">MUA NGAY</a>
                        <a href="#" class="heart-icon"><span class="icon_heart_alt"></span></a>
                        <ul>
                 
                        </ul>
                    </div>
                </div>



                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                                   aria-selected="true">Thông tin chi tiết</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"
                                   aria-selected="false">Đánh giá sản phẩm</a>
                            </li>

                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <div class="product__details__tab__desc">

                                    <p class="user-motasp">@spc.mota</p>
                                    <br />
                                    @if (@nguoiban != null) { 
                                        <h6>Người bán : @nguoiban.HoTen</h6>
                                    <h6>Địa chỉ : @nguoiban.DiaChi</h6>
                                    <h6>Số điện thoại : @nguoiban.SDT</h6>
                                    <h6>Email : @nguoiban.Email</h6>}

                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-2" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    <h5 id="user-ct">Comment</h5>


                                    @using (var con3 = new Model1())
                                    {
                                        var spdg = (from s in con3.SP_Danhgia
                                                    join kh in con3.Khachhangs on s.MaKH equals kh.MaKH
                                                    where s.MaSP == id
                                                    select new
                                                    {
                                                        s.MaSP,
                                                        kh.Hoten,
                                                        s.noidung_danhgia,
                                                        s.NgayDanhgia,

                                                    }).ToList();
                                        foreach (var inner in spdg)
                                        {

                                            <div class="user-cmtsp"><i class="bi bi-person-lines-fill"></i> <span class="user-cmtsp-name">@inner.Hoten</span> <span class="user-cmtsp-time">@inner.NgayDanhgia</span></div>
                                           
                                            <div class="alert alert-success user-cmt-contentsp" role="alert"> <i class="bi bi-chat-left-fill"></i> @inner.noidung_danhgia</div>


                                        }

                                        
                                        <i class="bi bi-chat-left-fill"></i>
                                        <div class="bs-example" data-example-id="textarea-form-control">
                                            <form action="/Home/Binhluan" method="get">
                                                <input value="@id" type="hidden" name="id" />
                                               
                                                <textarea class="form-control" rows="3" placeholder="Viết bình luận  . . . . ." name="comment"></textarea>
                                                <input type="submit" value="Bình luận" class="pull-right" />
                                            </form>
                                        </div>




                                    }




                                    @*<ul>
            <li><i class="ace-icon fa fa-users"><span>Nguyễn Duy Trinh</span> </i></li>
            <li>
                <i class="ace-icon fa fa-comment"></i> <span>Rất tốt </span>
            </li>
        </ul>*@
                                </div>
                            </div>

                        </div>
                    </div>
                </div>



            }






        </div>
    </div>
</section>
<!-- Product Details Section End -->

<h4 id="user-sptt">Sản phẩm tương tự </h4>
<section class="categories">
    <div class="container">
        <div class="row client-display-sp">
            <div class="categories__slider owl-carousel">
                @using (var con1 = new Model1())
                {
                    var sp = (from s in con1.Sanphams
                              where s.MaSP == id
                              select s).FirstOrDefault();

                    var ds = (from s in con1.Sanphams
                              join anh in con1.SP_anh on s.MaSP equals anh.MaSP
                              where anh.anhchinh == true && sp.TenSP.Contains(sp.TenSP)
                              select new
                              {
                                  s.MaSP,
                                  s.TenSP,
                                  s.Gia,
                                  anh.Linkanh,
                              }
                            ).ToList().Distinct();
                    foreach (var it in ds)
                    {
                        <div class="col-lg-3 client-col-sp">
                            <div class="categories_product">
                                <div class="client-div-chuaanh">
                                    <img src="~/Content/img/sanpham/chinh/@it.Linkanh"
                                         alt="" class="img-fluid">
                                </div>
                                <h5 class="client-tensp"><a href="/Home/ChiTiet/?id=@it.MaSP">@it.TenSP</a></h5>
                                <h4>@string.Format(new CultureInfo("vi-VN"), "{0:#,##0}", it.Gia) vnđ</h4>
                            </div>
                        </div>
                    }
                }

            </div>
        </div>
    </div>
</section>




<!-- Related Product Section Begin -->
<!-- Related Product Section End -->
