
@using HTC_SHOPVIP.Models
@using HTC_SHOPVIP.Controllers
@{ var kh = Session["khachhang"] as Khachhang;}
<!DOCTYPE html>
<html lang="zxx">

<head>



    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTTC Shop</title>

    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/style.css" type="text/css">
    @Styles.Render("~/Content/vip")

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />




</head>

<body id="index-body">

    <div id="preloder">
        <div class="loader"></div>
    </div>

    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="#"><img src="~/Content/img/logohttc.jpg" alt=""></a>
        </div>
        <div class="humberger__menu__cart">
            <ul>
                <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
            </ul>
            <div class="header__cart__price">item: <span>$150.00</span></div>
        </div>
        <div class="humberger__menu__widget">
            <div class="header__top__right__language">
                <img src="~/Content/img/language.png" alt="">
                <div>English</div>
                <span class="arrow_carrot-down"></span>
                <ul>
                    <li><a href="#">Spanis</a></li>
                    <li><a href="#">English</a></li>
                </ul>
            </div>
            <div class="header__top__right__auth">
                <a href="#"><i class="fa fa-user"></i> Login</a>
            </div>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul class="main-menu">
                <li class=""><a href="~/Home/Index">Trang chủ</a></li>

                <li class=""><a href="~/Blog/Index">Tin tức</a></li>
                <li class=""><a href="~/Contact/Index">Liên hệ</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-pinterest-p"></i></a>
        </div>
        <div class="humberger__menu__contact">
            <ul>
                <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
                <li>Free Shipping for all Order of $99</li>
            </ul>
        </div>
    </div>

    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i>httcshop@gmail.com</li>
                                <li>Giao hàng miễn phí cho đơn trên 300.000</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-youtube"></i></a>

                            </div>
                            <div class="header__top__right__language">
                                <img src="~/Content/img/vietnam (1).png" alt="">
                                <div>Tiếng việt</div>
                                <span class="arrow_carrot-down"></span>
                                <ul>
                                    <li><a href="#">Tiếng việt</a></li>
                                    <li><a href="#">English</a></li>
                                </ul>
                            </div>
                            <div class="header__top__right__auth">
                                <a href="~/Home/LoginView">
                                    <i class="fa fa-user"></i>@{ if (kh != null)
                                        {
                                            <span>@kh.Hoten</span>
                                        }
                                        else
                                        {
                                            <span>Đăng Nhập</span>
                                        } }
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="./Home/Index"><img src="~/Content/img/logohttc.jpg" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul class="main-menu">
                            <li class=""><a href="~/Home/Index">Trang chủ</a></li>


                            @*<li class=""><a href="~/Blog/Index">Tin Tức</a></li>*@
                            <li class=""><a href="~/Contact/Index">Liên hệ</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>

                            <li class="icon-bag"><a href="~/GioHang/ShowToCart"><i class="fa fa-shopping-bag "></i> @Html.Action("BagCart", "GioHang") </a><span class="giohang">Giỏ Hàng</span></li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>

    <section class="hero hero-normal">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>Danh mục </span>
                        </div>
                        <ul>
                            @Html.Action("DanhMuc", "Home")

                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">


                            @using (Html.BeginForm("TimKiem", "Home", FormMethod.Post))
                            {
                                <input type="text" placeholder="Tìm kiếm sản phẩm" name="valuekey">
                                <button type="submit" class="site-btn">

                                    <i class="fa fa-search"></i>
                                </button>
                            }

                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+65 11.188.888</h5>
                                <span>Hỗ trợ 24/24</span>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>




    @RenderBody()


    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="~/Home/Index"><img src="~/Content/img/logohttc.jpg" alt=""></a>
                        </div>
                        <ul>
                            <li>Địa chỉ: 236 Hoàng Quốc Việt, Hà Nội</li>
                            <li>Phone: +65 11.188.888</li>
                            <li>Email: httcshop@gmail.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <ul>
                            <li><a href="#">Giới thiệu về công ty</a></li>
                            <li><a href="#">Câu hỏi thường gặp</a></li>
                            <li><a href="#">Chính sách bảo mật</a></li>
                            <li><a href="#">Quy chế hoạt động</a></li>
                            <li><a href="#">Tin khuyến mãi</a></li>
                            <li><a href="#">Chính sách đổi trả</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Hướng dẫn mua online</a></li>
                            <li><a href="#">Tin tuyển dụng</a></li>
                            <li><a href="#">Tin khuyến mãi</a></li>
                            <li id="payment-footer">
                                Hỗ trợ thanh toán:
                                <img src="/ogani-master/img/payment.png" alt="">
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Đăng ký nhận tin</h6>
                        <p>Để lại email của bạn để nhận được những thông tin khuyến mãi hấp dẫn nhanh nhất!</p>
                        <form action="#">
                            <input type="text" placeholder="Điền email của bạn">
                            <button type="submit" class="site-btn">Đăng ký</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/Content/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/jquery.nice-select.min.js"></script>
    <script src="~/Content/js/jquery-ui.min.js"></script>
    <script src="~/Content/js/jquery.slicknav.js"></script>
    <script src="~/Content/js/mixitup.min.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/main.js"></script>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


    <script>

        //<![CDATA[

        window.addEventListener('load', function () {

            $(".main-menu >li>a[href='" + location.pathname + "']").parent().addClass("active").each(function () {

                $(".main-menu >li>a[href='" + $(this).attr("href") + "']").parent().addClass("active")

            });

        })

        //]]>

    </script>


</body>

</html>
